@page "/Register"
@using Microsoft.AspNetCore.Components.Authorization
@using BlazorIdentity.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Logging
@using Microsoft.AspNetCore.WebUtilities
@using System.Text
@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity.UI.Services
@using MvcRouteData = Microsoft.AspNetCore.Routing;
@using Microsoft.AspNetCore.Mvc.Routing;
@using Microsoft.AspNetCore.Mvc.Abstractions;
@using BlazorIdentity.Data;
@using BlazorIdentity.Helpers; 

@inject AuthenticationStateProvider authenticationStateProvider
@inject UserManager<BlazorIdentityUser> _userManager
@inject SignInManager<BlazorIdentityUser> _signInManager
@inject IEmailSender _emailSender;
@inject NavigationManager navman;

<h1>Register</h1>
<h4>Create a new account.</h4>

<EditForm Model="@dRegister" OnValidSubmit="@RegisterUser">
    <DataAnnotationsValidator />
    <ServerSideValidator @ref="serverSideValidator"  />
    <hr />
    <div class="form-group row ">
        <label class="col-md-3 text-right" for="username">User Name:</label>        
        <div class="col-md-5">
            <InputText id="username" @bind-Value="dRegister.UserName" />
            <ValidationMessage For="@(() => dRegister.UserName)" />
        </div>    
    </div>
    <div class="form-group row">
        <label class="col-md-3 text-right" for="email">Email:</label>
        <div class="col-md-5">
            <InputText id="email" @bind-Value="dRegister.Email" />
            <ValidationMessage For="@(() => dRegister.Email)" />
        </div>
    </div>
    <div class="form-group row ">
        <label class="col-md-3 text-right" for="password">Password:</label>
        <div class="col-md-5">
            <InputText id="password" type="password" @bind-Value="dRegister.Password" />
            <ValidationMessage For="@(() => dRegister.Password)" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 text-right" for="confirmpassword">Confirm Password:</label>
        <div class="col-md-5">
            <InputText id="confirmpassword" type="password" @bind-Value="dRegister.ConfirmPassword" />
            <ValidationMessage For="@(() => dRegister.ConfirmPassword)" />
        </div>
    </div>
    <div class="col-md-8 text-center">
        <input type="submit" class="btn btn-primary align-content-center" value="Create account"/>
    </div>
</EditForm>

@code {
    private string message { get; set; } = "None";
    public string ReturnUrl { get; set; } = string.Empty;
    private EditContext _editContext;

    [Inject] protected IUrlHelperFactory UrlHelperFactory { get; set; }
    [Inject] protected IHttpContextAccessor HttpContextAccessor { get; set; }

    DataRegister dRegister { get; set; } = new DataRegister();
    public ServerSideValidator serverSideValidator;

    protected override void OnInitialized()
    {
        _editContext = new EditContext(dRegister);

        base.OnInitialized();
    }

    private async Task RegisterUser(EditContext editContext)
    {
        var urlHelper = UrlHelperFactory.GetUrlHelper(
                new ActionContext(HttpContextAccessor.HttpContext,
                new MvcRouteData.RouteData(HttpContextAccessor.HttpContext.Request.RouteValues),
                new ActionDescriptor()));
        var returnUrl = ReturnUrl ?? urlHelper.Content("~/");

        //TODO: Remove hard coding.
        var user = new BlazorIdentityUser { UserName = "test4", Email = "test4@example.com" };
        var result = await _userManager.CreateAsync(user, "P@ssword1234");

        if (!result.Succeeded)
        {
            Dictionary<string, List<string>> errors = new Dictionary<string, List<string>>();

            ((from kp in result.Errors
                where errors.ContainsKey(kp.Code)
                select kp).ToList()).ForEach(kp =>
                {
                    if (kp.Code.Equals("DuplicateUserName"))
                        errors["UserName"].Add(kp.Description);

                });

            ((from kp in result.Errors
                where !errors.ContainsKey(kp.Code)
                select kp).ToList()).ForEach(kp =>
                {
                    if (kp.Code.Equals("DuplicateUserName"))
                        errors.Add("UserName", new List<string>() { kp.Description });
                });

            serverSideValidator.DisplayErrors(errors);
            return;
        }


        var code = await _userManager.GenerateEmailConfirmationTokenAsync(user);
        code = WebEncoders.Base64UrlEncode(Encoding.UTF8.GetBytes(code));
        //TODO: Validate this is correct.
        var callbackUrl = urlHelper.Page(
            "/ConfirmEmail"
            //pageHandler: null,
            //values: new { },
            ////values: new { area="Identity", userId = user.Id, code = code },
            //protocol: "https"
            );

        //TODO: Remove hard coded values
        await _emailSender.SendEmailAsync("test4@example.com", "Confirm your email",
            $"Please confirm your account by <a href='{HtmlEncoder.Default.Encode(callbackUrl)}'>clicking here</a>.");

        if (_userManager.Options.SignIn.RequireConfirmedAccount)
        {
            //TODO: Remove hard coded values
            navman.NavigateTo("RegisterConfirmation/" + "test4@example.com");
            //return RedirectToPage("RegisterConfirmation", new { email = Input.Email });
        }
        else
        {
            await _signInManager.SignInAsync(user, isPersistent: false);
            navman.NavigateTo(returnUrl);
        }
    }

}
